<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="ScrumtItValidation">

	<test name="Sprint1Chrome">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="Sprint1Test">
				<methods>
					<include name="testRegister" />
					<include name="testLogin" />
					<include name="testLogout" />
					<include name="testCreateProject" />
					<include name="testModifyProject" />
					<include name="testDeleteProject" />
					<include name="testProjectsDisplay" />
				</methods>
			</class>
		</classes>
	</test>
	<test name="Sprint1Firefox">
		<parameter name="browser" value="firefox" />
		<classes>
			<class name="Sprint1Test">
				<methods>
					<include name="testRegister" />
					<include name="testLogin" />
					<include name="testLogout" />
					<include name="testCreateProject" />
					<include name="testModifyProject" />
					<include name="testDeleteProject" />
					<include name="testProjectsDisplay" />
				</methods>
			</class>
		</classes>
	</test>
	
	<test name="Sprint2Chrome">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="Sprint2Test">
				<methods>
					<include name="testAddUserstory" />
					<include name="testAddContributor" />
					<include name="testModifyUserstory" />
					<include name="testAddSprint" />
					<include name="testModifySprint" />
					<include name="testAddUserstoryToSprint" />
					<include name="testDeleteSprint" />
				</methods>
			</class>
		</classes>
	</test>

	<test name="Sprint2Firefox">
		<parameter name="browser" value="firefox" />
		<classes>
			<class name="Sprint2Test">
				<methods>
					<include name="testAddUserstory" />
					<include name="testAddContributor" />
					<include name="testModifyUserstory" />
					<include name="testAddSprint" />
					<include name="testModifySprint" />
					<include name="testAddUserstoryToSprint" />
					<include name="testDeleteSprint" />
				</methods>
			</class>
		</classes>
	</test>
	
	<test name="Sprint3Chrome">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="Sprint3Test">
				<methods>
					<include name="testCreateTest" />
					<include name="testModifyTest" />
					<include name="testAddTask" />
					<include name="testLinkTask" />
					<include name="testUnlinkTask" />
					<include name="testModifyTask" />
					<include name="testDeleteTask" />
				</methods>
			</class>
		</classes>
	</test>
	
</suite>
