<%- include ./partials/navBar%>
<div class="card-header"><h4 class="card-title">Ajout d'un contributeur au projet "<%= projectName%>"</h4></div>
<div class="card-body">
    <div class="form-group">
            <%- include ./partials/message%>
        <form action="/project/:projectId/addUser" method="POST">
            <label for="addUser">Email</label>
            <input type="hidden" name="projectId" value="<%= projectId %>">
            <input type="email" class="form-control" name="newUser" id="newUser" aria-describedby="emailHelp"
                placeholder="Email de l'utilisateur à ajouter">
            <p id="emailHelp" class="form-text text-muted">L'utilisateur que vous souhaitez ajouter doit avoir un
                compte</p>
            <button type="submit" class="btn btn-outline-primary" id="submitAddContributor">Ajouter le contributeur</button>
        </form>
    </div>
<div>