<% include ./partials/navBar%>

<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3">Ajout d'une User Story</h1>
            <% include ./partials/message%>
            <form action="/project/<%= projectId %>/createUserStory" method="POST">

                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" id="description" name="description" class="form-control"
                        placeholder="Décrivez votre user story en quelques lignes ..." />
                </div>
                <div class="form-group">
                    <label for="difficulty">Difficulté</label>
                    <input type="number" id="difficulty" name="difficulty" class="form-control"
                    min="1" max="10" placeholder="Définissez la difficulté" />
                </div>
                <div class="form-group">
                    <label for="priority">Priorité</label>
                    <input type="number" id="priority" name="priority" class="form-control"
                    min="1" max="3" placeholder="Définissez la priorité" />
                </div>
                <input type="hidden" name="projectId" value="<%= projectId %>">
                <button type="submit" class="btn btn-primary btn-block" id="submitAddUserstory">Ajouter une User Story</button>
            </form>
        </div>
    </div>
</div>