<% include ./partials/navBar%>

<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3">Modifier tache</h1>
            <% include ./partials/message%>
            <form action="/project/<%= project.id %>/modifyTask/<%= task.id %>" method="POST">
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" rows="3" name="description" class="form-control"
                        placeholder="Décrivez votre tache en quelques lignes"><%= task.description %></textarea>
                </div>
                <div class="form-group">
                    <label for="developerId">Developeur</label>
                    <select class="form-control" id="developerId" name="developerId">
                        <% if(typeof project.users == 'undefined' || project.users.length == 0) { %>
                        <option>-</option>
                        <%} else {%>
                        <% project.users.forEach(function (user) { %>
                        <option><%= user.email %></option>
                        <% });%>
                        <% };%>
                    </select>
                </div>
                <div class="form-group">
                    <label for="selectTaskState">État</label>
                    <select class="form-control" id="selectTaskState" name="state">
                        <option value="1" <% if(task.state === 1) { %> selected <%}%> >TODO</option>
                        <option value="2" <% if(task.state === 2) { %> selected <%}%> >ONGOING</option>
                        <option value="3" <% if(task.state === 3) { %> selected <%}%> >DONE</option>
                    </select>
                </div>
        </div>
        <div class="form-group">
            <button type="submit" id="submitCreate" class="btn btn-primary btn-block">Modifier tache</button>
            </form>
        </div>
    </div>
</div>