<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Scrum it</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Projets <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Documentations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Releases</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Tests</a>
            </li>
        </ul>
    </div>
    <div class="nav navbar-nav navbar-righ">
        <a class="nav-link" href="/users/logout">Déconnexion</a>
    </div>
</nav>

<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <h1><%= projectName %>
            <form action="/project/<%= projectId %>/modifyName" method="POST">
                <input type="image" src="/icons/edit-button.png"" />
            </form>
        </h1>
    
        <div class=" card card-body">
            <form action="/project/<%= projectId %>/" method="POST">
                <input type="text" value="<%= projectDesc %>" id="projectDescription" name="projectDescription"
                        style="width:100%" />
                <button type="submit" class="btn btn-dark">Appliquer</button>
            </form>

            <a href="">Accéder au backlog</a>
            <button type="button" class="btn btn-dark">Supprimer</button>
        </div>
    </div>
</div>